development:
  host: "localhost:3000"
  admin_email: "fguillen.mail@gmail.com"

  smtp:
    enabled: true
    server: "smtp.mandrillapp.com"
    port: 587
    domain: "requests_tracker.org"
    user: "user"
    pass: "pass"

test:
  host: "test.com"
  admin_email: "requests_tracker.mail@email.com"

  smtp:
    enabled: false

production:
  host: "requests_tracker.org"
  admin_email: "fguillen.mail@gmail.com"

  s3_credentials:
    bucket: "requests_tracker_production"
    access_key_id: "KEY"
    secret_access_key: "SECRET"

  smtp:
    enabled: true
    server: "smtp.mandrillapp.com"
    port: 587
    domain: "requests_tracker.org"
    user: "user"
    pass: "pass"
